Repository mosh666/pyMM: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, interrogate

Path conditions:
  doc8: any of: \.(md|rst)$
  interrogate: any of: \.py$

build: exclude docs/examples from mypy checks to prevent duplicate module errors
  pyproject.toml
Due: none

fix(scripts): add missing type annotations for mypy strict compliance
  scripts/convert_plugins_to_v2.py
  scripts/update_plugin_catalog.py
  scripts/validate_skip_ci.py
  scripts/wix_generator.py
Due: interrogate

fix(scripts): improve type handling for dict operations in performance scripts
  scripts/calculate_thresholds.py
  scripts/measure_performance_baseline.py
Due: interrogate

fix(tests): add type parameters to generic types in fixtures and conftest
  tests/conftest.py
  tests/fixtures/platform_data.py
Due: interrogate

fix(tests): add tmp_path parameter to test functions in __main__ blocks
  tests/test_git_integration.py
  tests/test_project_management.py
Due: interrogate

fix(tests): resolve enum comparison and Any return type issues
  tests/docs/test_plugin_catalog.py
  tests/unit/test_system_tool_detector.py
Due: interrogate

fix(docs): add type annotations to Sphinx configuration functions
  docs/conf.py
Due: interrogate

style: apply code formatting to justfile
  justfile
Due: none

chore(release): 0.0.1-beta.1 [skip ci]
  CHANGELOG.md
Due: doc8

ci: fix workflow_dispatch permission error by using workflow_run trigger
  .github/workflows/docs.yml
  .github/workflows/update-docs.yml
Due: none

chore(release): 0.1.0-beta.1 [skip ci]
  CHANGELOG.md
Due: doc8

docs: fix markdown blockquote formatting in GitHub documentation
  .github/CODE_OF_CONDUCT.md
  .github/DEPENDABOT.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/REPOSITORY_CONFIGURATION.md
  .github/SECURITY.md
  .github/SUPPORT.md
  .github/workflows/README.md
Due: doc8

docs: fix markdown formatting in root documentation
  CONTRIBUTING.md
  DEVELOPER.md
  README.md
Due: doc8

docs: fix markdown formatting and improve cross-references
  docs/api-reference.md
  docs/architecture.md
  docs/build-system.md
  docs/configuration.md
  docs/docker-ci-testing.md
  docs/examples/README.md
  docs/examples/config/README.md
  docs/examples/platform/README.md
  docs/examples/plugins/README.md
  docs/examples/projects/README.md
  docs/examples/storage/README.md
  docs/examples/sync/README.md
  docs/examples/ui/README.md
  docs/features.md
  docs/getting-started-dev.md
  docs/getting-started.md
  docs/index.md
  docs/installation.md
  docs/linux-setup.md
  docs/linux-udev-installer.md
  docs/migration-guide.md
  docs/platform-directories.md
  docs/plugin-catalog.md
  docs/plugin-development.md
  docs/plugin-preferences.md
  docs/semantic-release.md
  docs/storage-groups.md
  docs/sync-engine.md
  docs/templates.md
  docs/testing-roadmap.md
  docs/troubleshooting.md
  docs/windows-setup.md
  scripts/README.md
  scripts/README_AUTO_UPDATE.md
  templates/base/README.md
  templates/default/README.md
  templates/photo-management/README.md
  templates/test/README.md
  templates/video-editing/README.md
  tests/README.md
Due: doc8

docs(sphinx): fix toctree warnings and exclude example READMEs
  docs/conf.py
Due: interrogate

docs(spelling): add 23 technical terms to dictionary
  docs/spelling_wordlist.txt
Due: none

fix(types): improve type annotations with future annotations
  app/ui/views/plugin_view.py
  app/ui/views/project_view.py
  app/ui/views/storage_view.py
Due: interrogate

chore(build): enhance clean-all to include bin directory and uv cache
  justfile
Due: none
